@page "/AnimatedPage"
@rendermode InteractiveServer


<h1 class="bounce">Get Fresh Vegetables Here!</h1>

<style>
    /* Simple bounce animation */
    .bounce {
        display: inline-block;
        animation: bounceEffect 2s infinite;
    }

    
</style>
